* {
	box-sizing: border-box;
	margin: 0;
	font-family: inherit;
}

html,
body {
	min-height: 100%;
	height: 100%;
}

html {
	font: 400 16px/1.5 "Bad Script", "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	padding: 80px 16px 16px;
	background: #cfcdab;
}

.todo {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 700px;
	margin: auto;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 1em black;
}

.todo__title {
	padding: 16px;
	text-align: center;
}

.todo-form {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px 24px;
	background: white;
}

.todo-form__input {
	flex-grow: 1;
	margin-right: 24px;
	box-sizing: border-box;
	background: white;
	border: none;
	color: gray;
	outline: none;
}

.todo-form__input:hover,
.todo-form__input:focus {
	border-bottom-color: #86a8e7;
}

.todo-list {
	list-style-type: none;
	width: 100%;
	padding: 0;
}

.todo__list {
	margin: 0;
}

.todo-list__item {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 8px 24px;
	font-size: 20px;
	background: #f7f7f7;
}

.todo-form__checkbox {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.todo-list__text {
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.button {
	border-radius: 6px;
	width: 75px;
	height: 35px;
	opacity: 1;
	font-size: 14px;
}

.button:hover,
.button:focus {
	cursor: pointer;
	border-color: #86a8e7;
	outline: none;
}
