body {
	min-height: 100%;
	height: 100%;
  background: #cfcdab;
}

.todo__title {
	margin-top: 65px;
	margin-bottom: 60px;
	text-align: center;
}

.todo__form {
	margin: 0 auto;
	max-width: 700px;
}

.todo-form {
	box-shadow: 0 0 1em black;
	background: white;
}

.todo-form__input {
	background: white;
	width: 85%;
	box-sizing: border-box;
	height: 50px;
	font-size: 20px;
	font-weight: 0.5px;
	padding: 25px 25px;
	border: none;
	border-bottom: 3px solid gray;
	color: gray;
	outline: none;
}
.todo-form__input:hover,
.todo-form__input:focus {
	border-bottom-color: #86a8e7;
}

.todo-list {
	list-style-type: none;
	padding: 0;
}

.todo__list {
	margin: 0 auto;
	max-width: 700px;
}

.todo-list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f7f7f7;
	height: 50px;
	padding: 10px 20px;
	line-height: 50px;
	font-size: 20px;
}
.todo-list__item:hover {
	background: #edf1f5;
}
.todo-list__text {
	padding: 0 8px;
}
.btn {
	border-radius: 6px;
	width: 75px;
	height: 35px;
	opacity: 1;
	font-size: 14px;
}

.btn:hover,
.btn:focus {
	cursor: pointer;
	border-color: #86a8e7;
	outline: none;
}
